.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  width: 100vw;
  background: #081C23;
  position: fixed;
}

.nav-title {
  margin-left: 5vw;
  color: #01D277;
  font-size: 2.6em;
  text-shadow: 2px 2px 6px #01D277;
}

.nav-action button {
  border: none;
  background: none;
  color: #01D277;
  font-size: 1.8em;
  text-decoration: underline;
}

.sidebar-button {
  height: 7vh;
  width: 5vw;
}

.nav-action {
  width: 35vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidemenu {
  background: #081C23;
  position: fixed;
  right: 0;
  top: 10vh;
  width: 0;
  height: 40vh;
  -webkit-transition: 1000ms width ease-in-out;
  transition: 1000ms width ease-in-out;
}

.sidemenu-open {
  background: #081C23;
  position: fixed;
  right: 0;
  top: 10vh;
  width: 20vw;
  height: 40vh;
  -webkit-transition: 1000ms width ease-in-out;
  transition: 1000ms width ease-in-out;
}

.sidemenu-list {
  list-style: none;
  width: 13vw;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidemenu-logout {
  width: 13vw;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-input {
  width: 10vw;
  height: 3vh;
  color: #01D277;
  font-size: 1em;
  font-weight: 600;
}

.sidemenu-action {
  height: 3vh;
  width: 8vw;
  font-size: 1em;
  background: #333333;
  color: #01D277;
  border: none;
  -webkit-box-shadow: 4px 4px 10px #333333;
          box-shadow: 4px 4px 10px #333333;
}

.welcome {
  font-size: 1em;
  color: white;
  font-size: 1.3em;
}

.register-text {
  color: #01D277;
  font-size: 1.2em;
  font-weight: 700;
}

.sidemenu-logout button {
  height: 4vh;
  width: 12vw;
  font-size: 1em;
  background: #333333;
  color: #01D277;
  border: none;
  -webkit-box-shadow: 4px 4px 10px #333333;
          box-shadow: 4px 4px 10px #333333;
}

@media (max-width: 1000px) {
  .nav-title {
    display: none;
  }
  .nav-action {
    width: 100vw;
  }
  .login-input {
    width: 10vw;
  }
}

@media (max-width: 600px) {
  .sidemenu-list {
    position: relative;
    right: 4vw;
  }
}

@media (max-width: 400px) {
  .sidemenu-open {
    width: 30vw;
  }
  .login-input {
    width: 20vw;
  }
  .nav-action button {
    font-size: 1.1em;
  }
  .welcome {
    font-size: .8em;
  }
  .sidemenu-logout button {
    font-size: .8em;
    width: 20vw;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.home-background {
  background: #333333;
  height: 100vh;
  overflow: scroll;
}

.card {
  margin-top: 5vh;
}

.search-bar {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search {
  margin-top: 5vh;
  height: 6vh;
  width: 40vw;
  font-size: 2em;
  font-weight: 700;
  color: #01D277;
}

.default-text {
  margin-left: 5vh;
  font-size: 2em;
  color: white;
  text-shadow: 4px 4px 6px #01D277;
}

.search-actions {
  width: 95vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: none;
}

.search-actions button {
  border: none;
  background: none;
  color: #01D277;
  font-size: 1.2em;
  text-decoration: underline;
  font-weight: 650;
}

@media (max-width: 400px) {
  .search-actions {
    width: 80vw;
  }
  .search-actions button {
    font-size: .8em;
  }
  .default-text {
    font-size: 1.2em;
  }
  .search {
    font-size: 1.2em;
    height: 4vh;
  }
}
/*# sourceMappingURL=Movies.css.map */