@import '../NavBar/Navbar.scss';

.profile-container {
    background: $c;
    padding-top:10vh;
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center
}

.box-container {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.edit-container {
    background: $a;
    height: 50vh;
    width: 35vw;
    border: 2px $b solid;
    border-radius: 20px;
}

.image-container {
    background: $a;
    height: 50vh;
    width: 35vw;
    border: 2px $b solid;
    border-radius: 20px;
}

.user-profile {
    display: flex;
    width: 100vw;
    padding-bottom: 6vh;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.profile-title {
    color: white;
    font-family: $roboto;
    padding-left: 38vw;
}

.changeDB h4 {
    font-family: $roboto
}

.user-profile button {
    border: none;
    background: none;
    color: red;
    text-decoration: underline;
    font-size: 1em;
    &:hover {
        cursor: $pointer;
        font-weight: 700;
    }
}

.ifClicked {
    height: 3vh;
    width: 20vw;
    padding-top: 2vh;
    display: flex;
    justify-content: space-evenly;
}

.changeDB .editDB {
    height: 4vh;
    width: 16vw;
    font-size: 1em;
    background: $a;
    color: $b;
    border: none;
    box-shadow: 4px 4px 10px $a;
    font-family: $wallpoet;
    outline: none;
    &:hover {
        @include hover-buttons();
        color: red;
    }
}

.changeDB h4 {
    color: white;
}

.execute {
    width: 10vw;
    height: 4vh;
    font-size: 1em;
    background: $a;
    color: $b;
    border: none;
    box-shadow: 4px 4px 10px $a;
    font-family: $wallpoet;
    &:hover {
        @include hover-buttons();
        color: red;
    }
}

.editInputs {
    width: 20vw;
    height: 3vh;
    color: $b;
    font-size: .8em;
    font-weight: 600;
    font-family: $roboto;
}

@media (max-width: 450px) {
    .user-profile {
        width: 70vw;
        padding-bottom: 2vh;
    }
    .profile-title {
        font-size: .9em;
        padding-left: 15vw;
    }
    .user-profile button {
        font-size: .7em;
    }
    .changeDB h4 {
        font-size: .8em;
    }
    .changeDB .editDB {
        font-size: .7em;
        width: 25vw;
    }
    .execute {
        font-size: .7em;
        width: 20vw;
    }
    .editInputs {
        width: 30vw;
        font-size: .7em;
        height: 2vh;
    }
    .ifClicked {
        padding-left: 20vw;
    }
    .box-container {
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .image-container {
        height: 25vh;
        width: 60vw;
        margin-bottom: 5vw;
    }
    .edit-container {
        height: 45vh;
        width: 80vw;
    }
}