@import "../NavBar/Navbar.scss";

.delete-from-watchlist {
    width: 14vw;
    height: 3vh;
    font-size: 1em;
    background: $c;
    color: $b;
    border: none;
    box-shadow: 4px 4px 10px $c;
    font-family: $wallpoet;
    outline: none;
    &:hover {
        @include hover-buttons();
        color: red;
    }
}

@media (max-width: 450px) {
    .delete-from-watchlist {
        font-size: .7em;
        width: 20vw;
    }
}