@import "../Navbar/Navbar.scss";

$ubuntu: 'Ubuntu', sans-serif;

@mixin nowshowing() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding-top: 10vh;
    color: white;
    text-decoration: underline;
    text-shadow: 4px 4px 6px $b;
    font-family: $roboto;
}

.home-background {
    background-image: linear-gradient($a, $c)
}

.contain {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-list {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    height: 50vh;
    width: 70vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: $b 3px solid;
    margin-bottom: 5vh;
    background: $a;
    box-shadow: 12px 12px 1px $b;
    border-radius: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 45vw;
    color: white;
    font-family: $ubuntu;
}

.add-watchlist {
    display: flex;
    flex-direction: column;
    width: none;
}

.watchlist {
    width: 16vw;
    height: 3vh;
    font-size: 1em;
    background: $c;
    color: $b;
    border: none;
    box-shadow: 4px 4px 10px $c;
    font-family: $wallpoet;
    outline: none;
    &:hover {
        @include hover-buttons();
    }
}

.showing {
    @include nowshowing();
}

.summary {
    overflow: scroll;
    width: 45vw;
    height: 15vh;
    line-height: 1.618;
}

@media (max-width: 400px) {
    .card {
        display: flex;
        flex-direction: column;
        margin-top: 4vh;
        height: 60vh;
    }
    .summary {
        height: 8vh;
        font-size: .7em
    }
    .now-showing {
        font-size: .5em;
        margin-left: 10vw;
    }
    .the-title {
        font-size: 1em;
    }
    .info {
        display: flex;
        align-items: center;
    }
    .critic-rating {
        font-size: .8em;
    }
    .release-date {
        // font-size: .8em;
        display: none;
    }
    .poster {
        height: 30vh;
        width: 40vw;
    }
    .watchlist {
        font-size: .7em;
        width: 30vw;
    }
    .showing h1 {
        font-size: 1.2em;
    }
}