$a: #081C23;
$b: #01D277;
$c: #333333;
$pointer: pointer;
$roboto: 'Roboto Slab', serif;
$wallpoet: 'Wallpoet', cursive;

@mixin sidemenu($sidemenu_width) {
  background-color: rgba(8, 28, 35, 0.473);
  position: fixed;
  right: 0;
  top: 10vh;
  height: 35vh;
  transition: 1000ms width ease-in-out;
  width: $sidemenu_width;
}

@mixin sidepiece() {
  width: 13vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

@mixin hover-buttons() {
  cursor: $pointer;
  color: white;
  border: none;
  background: none;
  text-decoration: underline;
  box-shadow: none;
  font-weight: 700;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background-color: rgba(8, 28, 35, 0.473);
    position: fixed;
  }
  
.nav-title {
  margin-left: 5vw;
  color: $b;
  font-size: 2.6em;
  text-shadow: 2px 2px 6px $b;
  font-family: $roboto;
}

.nav-action button {
    border: none;
    background: none;
    color: $b;
    font-size: 1.8em;
    font-family: $wallpoet;
    outline: none;
    &:hover {
      cursor: $pointer;
      color: white;
      text-decoration: underline;
    }
}
  
.sidebar-button {
  height: 7vh;
  width: 5vw;
}
  
.nav-action {
  width: 60vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sidemenu {
    @include sidemenu(0);
}
  
  .sidemenu-open {
    @include sidemenu(20vw);
    
  }
  
  .sidemenu-list {
    @extend .sidemenu-logout;
    list-style: none;
  }

  .sidemenu-logout {
    @include sidepiece();
  }

  .login-input {
    width: 10vw;
    height: 3vh;
    color: $b;
    font-size: 1em;
    font-weight: 600;
    font-family: $roboto;
  }

  .sidemenu-action {
    height: 3vh;
    width: 8vw;
    font-size: 1em;
    background: $c;
    color: $b;
    border: none;
    box-shadow: 4px 4px 10px $c;
    font-family: $wallpoet;
    outline: none;
    &:hover {
      @include hover-buttons();
    }
  }

  .welcome {
    font-size: 1em;
    color: white;
    font-size: 1.3em;
    font-family: $roboto;
  }

  .register-text {
    color: $b;
    font-size: 1.2em;
    font-weight: 700;
    font-family: $wallpoet;
  }

  .sidemenu-logout button {
    height: 4vh;
    width: 12vw;
    font-size: 1em;
    background: $c;
    color: $b;
    border: none;
    box-shadow: 4px 4px 10px $c;
    font-family: $wallpoet;
    outline: none;
    &:hover {
      @include hover-buttons();
    }
  }

  @media (max-width: 400px) {
    .sidemenu-open {
      width: 30vw;
    }
    .login-input {
      width: 20vw;
      font-size: .8em;
    }
    .nav-action button {
      font-size: 1.1em;
    }
    .welcome {
      font-size: .8em;
    }
    .sidemenu-logout button {
      font-size: .8em;
      width: 20vw;
      box-shadow: none;
    }
    .sidemenu-action {
      width: 20vw;
    }
    .register-text {
      font-size: 1em
    }
    .nav-title {
      display: none;
    }
    .nav-action {
      width: 100vw;
      position: relative;
      right: 6vw;
    }
  }