.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  width: 100vw;
  background-color: rgba(8, 28, 35, 0.473);
  position: fixed;
}

.nav-title {
  margin-left: 5vw;
  color: #01D277;
  font-size: 2.6em;
  text-shadow: 2px 2px 6px #01D277;
  font-family: "Roboto Slab", serif;
}

.nav-action button {
  border: none;
  background: none;
  color: #01D277;
  font-size: 1.8em;
  font-family: "Wallpoet", cursive;
  outline: none;
}

.nav-action button:hover {
  cursor: pointer;
  color: white;
  text-decoration: underline;
}

.sidebar-button {
  height: 7vh;
  width: 5vw;
}

.nav-action {
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidemenu {
  background-color: rgba(8, 28, 35, 0.473);
  position: fixed;
  right: 0;
  top: 10vh;
  height: 35vh;
  -webkit-transition: 1000ms width ease-in-out;
  transition: 1000ms width ease-in-out;
  width: 0;
}

.sidemenu-open {
  background-color: rgba(8, 28, 35, 0.473);
  position: fixed;
  right: 0;
  top: 10vh;
  height: 35vh;
  -webkit-transition: 1000ms width ease-in-out;
  transition: 1000ms width ease-in-out;
  width: 20vw;
}

.sidemenu-list {
  list-style: none;
}

.sidemenu-logout, .sidemenu-list {
  width: 13vw;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-input {
  width: 10vw;
  height: 3vh;
  color: #01D277;
  font-size: 1em;
  font-weight: 600;
  font-family: "Roboto Slab", serif;
}

.sidemenu-action {
  height: 3vh;
  width: 8vw;
  font-size: 1em;
  background: #333333;
  color: #01D277;
  border: none;
  -webkit-box-shadow: 4px 4px 10px #333333;
          box-shadow: 4px 4px 10px #333333;
  font-family: "Wallpoet", cursive;
  outline: none;
}

.sidemenu-action:hover {
  cursor: pointer;
  color: white;
  border: none;
  background: none;
  text-decoration: underline;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: 700;
}

.welcome {
  font-size: 1em;
  color: white;
  font-size: 1.3em;
  font-family: "Roboto Slab", serif;
}

.register-text {
  color: #01D277;
  font-size: 1.2em;
  font-weight: 700;
  font-family: "Wallpoet", cursive;
}

.sidemenu-logout button, .sidemenu-list button {
  height: 4vh;
  width: 12vw;
  font-size: 1em;
  background: #333333;
  color: #01D277;
  border: none;
  -webkit-box-shadow: 4px 4px 10px #333333;
          box-shadow: 4px 4px 10px #333333;
  font-family: "Wallpoet", cursive;
  outline: none;
}

.sidemenu-logout button:hover, .sidemenu-list button:hover {
  cursor: pointer;
  color: white;
  border: none;
  background: none;
  text-decoration: underline;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: 700;
}

@media (max-width: 450px) {
  .sidemenu-open {
    width: 30vw;
  }
  .login-input {
    width: 20vw;
    font-size: .8em;
  }
  .nav-action button {
    font-size: 1.1em;
  }
  .welcome {
    font-size: .8em;
  }
  .sidemenu-logout button, .sidemenu-list button {
    font-size: .8em;
    width: 20vw;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .sidemenu-action {
    width: 20vw;
  }
  .register-text {
    font-size: 1em;
  }
  .nav-title {
    display: none;
  }
  .nav-action {
    width: 100vw;
    position: relative;
    right: 6vw;
  }
}
/*# sourceMappingURL=Navbar.css.map */