@import '../NavBar/Navbar.scss';

.goback {
    border: none;
    background: none;
    color: $b;
    font-size: 1.2em;
    text-decoration: underline;
    font-family: $wallpoet;
    outline: none;
    &:hover {
        @include hover-buttons();
    }
}

@media (max-width: 400px) {
    .goback {
        font-size: .8em
    }
}